.image
	position: relative
	display: block

	> img
		position: absolute
		left: 0
		height: 100%
		width: 100%
		display: block

	> .overlay
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0

.standaloneImage
	height: 100%
	width: 100%

	&:hover
		background-color: rgba(0, 0, 0, 0.3)
		> .overlay
			display: -ms-flexbox
			display: flex
			-ms-flex-direction: column
			flex-direction: column

	> .overlay
		height: 100%
		width: 100%
		display: none

.checkboxLabel
	cursor: pointer

	.hoverImage > svg, .activeImage > svg
		display: none !important

	&:hover
		text-decoration: underline
		*:not(.hoverImage) svg
			display: none !important
		.hoverImage > svg
			display: inline-block !important

	&:active
		*:not(.activeImage) svg
			display: none !important
		.activeImage > svg
			display: inline-block !important


.imageColumn
	flex-grow: 1
	-ms-flex-grow: 1
	flex-basis: 0
	-ms-flex-basis: 0